<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- stylesheet -->
    <link rel="stylesheet" href='/stylesheets/<%= pagecss %>'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title><%= pagetitle %></title>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.php">DBLOVE CINEMA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <!-- MovieInfo, Reservation -->
            <ul class="navbar-nav mr-auto">
                <li class="active nav-item"><a class="nav-link" href="#">Movie Info</a></li>
                <li class="nav-item"><a class="nav-link" href="#" onclick="reservButton()">Movie Reservation</a></li>
            </ul>
    
            <!-- Welcome, Mypage, Login -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <% if(username){ %>
                    <a class='nav-link' href='#'> Hi! <%= username %>.</a>
                    <% }else{ %>
                    <h2> Please Login. </h2>
                    <% } %>
                </li>
    
                <li class="nav-item"><a class="nav-link" onclick="myPageButton()">My Page</a></li>
                <li class="nav-item">
                    <button class="btn btn-outline-success" id="loginButton" onclick="loginButton()" style="width:auto;">
                        <% if(username){ %>
                        <%= "Logout" %>
                        <% }else{ %>
                        <%= "Login" %>
                        <% } %>
                    </button>
                </li>
                <% if(username == 'yunchang'){ %>
                <li class="nav-item">
                    <button class="btn btn-danger">ManagerOnly<br>Movie Reset</button>
                    <!-- TODO: add onclick -->
                </li>
                <% } %>
            </ul>
        </div>
    </nav>
</head>