<!DOCTYPE html>

<html lang="en">
<% include ./header %>
<body>
    <div class="container-fluid" style="float: center">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1"></div>
                    <div class="col-sm-11 col-md-11 col-lg-11">
                        <ul class="list-group">
                            <%for(var i=0; i<movieDetails.length; ++i){%>
                            <% var title = movieDetails[i]["movie_title"];%>
                            <% var vote_average = movieDetails[i]["movie_rating"].toFixed(1);%>
                            <% var isAdult = movieDetails[i]['movie_isAdult']; %>
                            <a href='#myCarousel' data-slide-to=<%=i%> class='list-group-item list-group-item-action'
                                id='list_<%=i%>'>
                                &starf;&nbsp;&nbsp;<%=vote_average%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=title%>
                                &nbsp;
                                <% if(isAdult == 1) { %>
                                    <img style='height: 22px;' src="/adult.svg" alt="">
                                <%} %>
                            </a>
                            <%}%>
                        </ul>
                    </div>  <!-- row2 col 5 -->
                </div>  <!-- row2 -->
            </div>  <!-- row1 col 5-->
            
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" style="float: center">
                    <div class="carousel-inner">
                            <%for(var i=0; i<movieDetails.length; ++i){%>
                            <% var imgurl = "http://image.tmdb.org/t/p/w780"+movieDetails[i]['movie_posterURL']; %>
                            <% var title = movieDetails[i]['movie_title']; %>
                            <% var actors = movieDetails[i]['movie_actors']; %>
                            <% var director = movieDetails[i]['movie_director']; %>
                            <% var genres = movieDetails[i]['movie_genre']; %>
                            <% var runtime = movieDetails[i]['movie_runtime']; %>
                            <% var overview = movieDetails[i]['movie_plot']; %>
                            <div class='carousel-item' id='cinner_<%=i%>'>
                                <img class='img-responsive center-block' alt='Poster' src=<%= imgurl %> />
                                <div class='carousel-caption d-none d-md-block'>
                                    <!-- <h2><%= title %></h2> -->
                                    <p style='visibility:hidden'>Actors: <%= actors%></p>
                                    <p style='visibility:hidden'>Directors: <%=director%></p>
                                    <p style='visibility:hidden'>Overview: <%=overview %></p>
                                    <p style='visibility:hidden'>Genres: <%=genres %></p>
                                </div>
                            </div>
                            <%}%>
                    </div>  <!-- carousel-inner -->
                    <a href="#myCarousel" class="left carousel-control-prev" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a href="#myCarousel" class="right carousel-control-next" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>  <!-- crousel -->
            </div>  <!-- row1 col-7 -->
        </div>  <!-- row1 -->
    </div> <!-- main container -->
    <% include ./footer %>
</body>

</html>