
<!DOCTYPE html>

<html lang="en">
<% include ./header %>
<body>
    <p>이메일:&nbsp;<%=user['user_email']%></p>
    <p>생년월일:&nbsp;<%=user['user_birthdate']%></p>
    <div class="container-fluid" style="float: center">
        <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1"></div>
                    <div class="col-sm-11 col-md-11 col-lg-11">
                        <ul class="list-group">
                            <%for(var i=0; i<tickets.length; ++i){%>
                            <% var memo = tickets[i]["MEMO"];%>
                            <% var movie_title = tickets[i]["movie_title"];%>
                            <% var start_date = tickets[i]["start_date"];%>
                            <% var end_date = tickets[i]["end_date"];%>
                            <% var ticket_seat_number = tickets[i]["ticket_seat_number"];%>
                            <a data-slide-to=<%=i%> class='list-group-item list-group-item-action'
                                id='list_<%=i%>'>
                                &starf;&nbsp;&nbsp;<%=memo%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=movie_title%>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;시작시간:&nbsp;<%=start_date%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;좌석:&nbsp;<%=ticket_seat_number%>
                                &nbsp;
                            </a>
                            <%}%>
                        </ul>
                    </div>  <!-- row2 col 5 -->
        </div>  <!-- row1 -->
    </div> <!-- main container -->
    <% include ./footer %>
</body>

</html>